# Überschrift 
## Unterüberschrift 
das ist *Text* 
- Punkt 1

In [43]:
print ("Hello World")

Hello World

In [44]:
name = "Lovelace"

In [45]:
print(name)

Lovelace

In [46]:
age = 73

In [47]:
print(age)

73

In [48]:
size = 1.7123

In [49]:
# Boolscher Wert 
knows_math = True 
likes_slacking = False

In [50]:
type(size)

float

In [51]:
type(name)

str

In [52]:
age * 100

7300

In [53]:
name + name

'LovelaceLovelace'

In [54]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [55]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [ ]:
name + str(age)

In [ ]:
new_number="10"
new_number = int(new_number)

In [ ]:
type(new_number)

In [ ]:
# Funktionen und Methoden

In [ ]:
len(name)

In [ ]:
name.upper()

In [ ]:
name_capital = name.upper()

In [ ]:
name.count("e")

In [ ]:
# ist case sensitive !
buchstabe = "e"
name.count(buchstabe)

In [56]:
name.count?

In [57]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [58]:
#Liste und Dictionaries

In [64]:
names = ["Lovelace", "Darwin", "Curie", "Hawkin"]

In [60]:
#achtung Python zählt ab 0, daher erscheint hier nicht Darwin sondern Lovelace
names[2]

'Curie'

In [65]:
names[3]

'Hawkin'

In [67]:
#letzter Eintrag der Liste
names[-1]

'Hawkin'

In [68]:
#slicing einschließlich erstes Element aber ausschließlich letztes Element
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [69]:
# 3 bis zum Ende (dafür steht der Doppelpunkt)
names[3:]

['Hawkin']

In [82]:
#Dictionary mit geschweiften Klammern , mit Schlüsselwertparen aus String und Integer, Achtung, wenn ich hier was ändere, muss ich die Cell auch wieder ausführen, damit es unten auch angezeigt wird sonst ändert sich nichts
authors_and_birth_years = {"Lovelace": [1882, "London", "1903"], 
                           "Darwin": 1809,
                           "Noether": 1882}

In [74]:
authors_and_birth_years["Darwin"]

1809

In [76]:
authors_and_birth_years["Noether"]

1882

In [84]:
#ansteuern des ersten Elements in der Liste 
authors_and_birth_years["Lovelace"] [1]

'London'

In [85]:
# for-Schleifen
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [86]:
for name in names: 
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [89]:
for name in names: 
    print(name + " did awesome stuff")
    print ("--------------------------")

Lovelace did awesome stuff
--------------------------
Darwin did awesome stuff
--------------------------
Curie did awesome stuff
--------------------------
Hawking did awesome stuff
--------------------------

In [90]:
for name in names: 
    print(name + " did awesome stuff")
print ("--------------------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
--------------------------

In [91]:
# conditionals Bedingte Anweisungen 
temp = 20

In [92]:
if temp > 15:
    print("It's warm")

It's warm

In [93]:
temp = 10 
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [96]:
# wenn ein richtiger Fall gefunden ist, dann wird das abgearbeitet von oben nach unten, dann ist es vorbei, deshalb druckt er nicht zwei Sachen
temp = 20 
if temp == 20:
    print("It's perfect")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's perfect

In [97]:
temp = 15 
if temp == 20:
    print("It's perfect")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm